body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-size: 14pt;
  margin: 0;
  background-color: black;
}

main {
  background-color: rgb(43, 39, 39);
  width: 400px;
  height: 600px;
  margin: auto;
}
