body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-size: 14pt;
  margin: 0;
  background-color: black;
}

main {
  background-color: rgb(43, 39, 39);
  width: 400px;
  height: 600px;
  margin: auto;
}

row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

column {
  margin-bottom: 0;
}

#column-1 {
  display: block;
  order: 1;
  width: 40px;
  height: 100px;
  background-color: white;
  margin: 0;
}

#column-2 {
  display: inline-block;
  order: 1;
  width: 100px;
  height: 300px;
  background-color: white;
  margin: 0;
}
